.card-i-top {
    border-radius: 42px 42px 0 0;
}

.card {
    border-radius: 42px;
}

.rcard {
    width: 100%;
}

.cardd1 {
    display: flex;
    justify-content: flex-end;
    width: 400px;

}

.cardd2 {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.cardd3 {
    display: flex;
    justify-content: flex-start;
    width: 400px;

}




.guill {
    width: 77px;
    position: absolute;
    right: -34px;
    top: -25px;
}

.card-text {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.card-title {
    font-family: 'Poppins', sans-serif;
}

.card-body {
    text-align: center;
    margin-top: -50px;
    z-index: 4;
    color: white;

}

.note {
    height: 231px;
    border-radius: 23px;
}

#comm {
    width: 195px;
    height: 255px;
    padding: 0px !important;
    border-radius: 19px !important;
}

.titre_comm {
    text-align: center;
    margin-bottom: 70px;
    font-family: 'Playpen Sans', cursive;
    font-size: 25px;
    color: #bd9582;
    font-weight: 700;
}

.card {
    border: solid rgb(207 207 207 / 18%) !important;
}

.p-3 {
    padding: 0px !important;
}


.image-container {
    position: relative;
    height: 355px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    pointer-events: none;
    border-radius: 23px;
}

.card-title {
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    color: white !important;
}

#panier {
    width: auto;
    border: none !important;
    background: none;
}

#pan {
    width: 35px;
}

#pannn {
    position: absolute;
    top: 9px;
    right: 2px;
}

.row {
    margin-left: 5px;
    padding: 80px;
}