.bloc_log {
    position: fixed;
    width: 100%;
    height: 100%;
}

section {
    height: auto;
    padding-bottom: 21px;
    width: 425px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    padding-top: 33px;
    margin-bottom: 35px;


}

form {
    text-align: center;
    margin-top: -24px;
}


input[type="text"] {
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    width: 364px;
    height: 50px;
    border-color: #b2b2b2;
    padding-left: 15px;
    font-size: 15px;
    outline-style: none;
}

::placeholder {
    font-family: 'Tilt Neon', sans-serif;
    color: #b2b2b2;
    font-size: 15px;
}

label {
    font-family: 'Tilt Neon', sans-serif;
    color: #b2b2b2;
    font-size: 15px;
}

input {
    border: none;
    border-bottom: 1px solid #dfdfdf !important;
    font-family: 'Tilt Neon', sans-serif;
}



button {
    background-color: #C8A589;
    color: white;
    border: none;
    font-family: 'Tilt Neon', sans-serif;
    width: 364px;
    height: 42px;

}

#sub {
    border-radius: 40px;
    font-weight: bold;
}

.form-floating {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 20px;
}